<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845281436422-40gg14dc33hvdrla2s7lgj19lf6nhd8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845281436422-40gg14dc33hvdrla2s7lgj19lf6nhd8v</string>
	<key>API_KEY</key>
	<string>AIzaSyBNWkq07TAVni4K5S9VJx-pbdt54mmBNjo</string>
	<key>GCM_SENDER_ID</key>
	<string>845281436422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SleepWalkCoffee</string>
	<key>PROJECT_ID</key>
	<string>sleepwalkcoffee-43b1a</string>
	<key>STORAGE_BUCKET</key>
	<string>sleepwalkcoffee-43b1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845281436422:ios:98b3604d3653006b08f487</string>
</dict>
</plist>