<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729258236904-n42df5ug56e8gr081m8lcaq9fmktt3ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729258236904-n42df5ug56e8gr081m8lcaq9fmktt3ju</string>
	<key>API_KEY</key>
	<string>AIzaSyCjvcfnFZrUgycfJEuBaLQUTo1qDK_5nJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>729258236904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SleepWalkCoffee</string>
	<key>PROJECT_ID</key>
	<string>sleepwalkcoffee-ccc5f</string>
	<key>STORAGE_BUCKET</key>
	<string>sleepwalkcoffee-ccc5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729258236904:ios:49ff366770c3b19687225d</string>
</dict>
</plist>